body {
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBEtfXpzznPAUGNsoH5qjVXepZcfi7ZqJfdg&usqp=CAU);
}

h1{
color: blue;
}

h3{
color:  blue;
}

hr{
  border-color: blue;
border-style: dotted none none;
width: 30%;
border-color: blue;
border-width: 5px;
width: 5%;
}
